@import url("https://fonts.googleapis.com/css2?family=Piedra&display=swap");
@font-face {
  font-family: "icomoon";
  src: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/93/icomoon.eot?3qkin2");
  src: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/93/icomoon.eot?#iefix3qkin2")
      format("embedded-opentype"),
    url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/93/icomoon.woff?3qkin2")
      format("woff"),
    url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/93/icomoon.ttf?3qkin2")
      format("truetype"),
    url("fhttps://s3-us-west-2.amazonaws.com/s.cdpn.io/93/icomoon.svg?3qkin2#icomoon")
      format("svg");
  font-weight: normal;
  font-style: normal;
}
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: monospace;
  background-color: #1d212b !important;
  height: 100vh;
}
.bo {
  position: relative;
  margin-top: 5vh;
  width: 50vw !important;
  height: 30vw !important;
  line-height: 4vw !important;
  /* text-align: center; */
  color: #ffee00;
  background-color: #151823;
  /* animation: textColor 10s ease infinite; */
  font-size: large;
}
.bo:after {
  position: absolute;
  content: "";
  top: 5vh;
  left: 0;
  right: 0;
  z-index: -1;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  transform: scale(0.75);
  -webkit-filter: blur(5vw);
  -moz-filter: blur(5vw);
  -ms-filter: blur(5vw);
  filter: blur(5vw);
  background: linear-gradient(270deg, #0fffc1, #7e0fff);
  background-size: 200% 200%;
  animation: animateGlow 10s ease infinite;
}

/* Create a sticky/fixed navbar */
#navbar {
  overflow: hidden;
  background-color: #1d212b;
  padding: 10px;
  position: fixed; /* Sticky/fixed navbar */
  width: 100%;
  top: 0; /* At the top */
  z-index: 99;
}

/* Style the navbar links */
#navbar a {
  float: left;
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
}

/* Style the logo */
#navbar #logo {
  font-size: 35px;
  font-weight: bold;
}

/* Links on mouse-over */
#navbar a:hover {
  background-color: #1d212b;
  color: rgb(255, 255, 255);
}
/* Display some links to the right */
#navbar-right {
  float: right;
}
.about {
  font-size: 20px;
  font-weight: bold;
}
.quote {
  position: relative;
  color: azure;
  padding-top: 3vh;
  font-size: 2em;
  display: flex;
  justify-content: center;
  font-family: "Piedra", cursive;
}

.container {
  margin-top: 10vh;
  margin-left: 20px;
  margin-right: 20px;
}
.search-text {
  color: azure;
}
.form-control {
  background-color: #1e2229 !important;
  color: rgba(255, 255, 255, 0.9) !important;
}
.choose {
  margin: 10px 0px;
  margin-top: 20px;
  padding: 0;
  position: absolute;
}
.cat {
  color: azure;
  margin-top: 2rem;
  margin-bottom: 0rem;
}
div.form-check {
  margin-left: 20px;
  margin: 0 10px;
}
.form-check-label {
  color: azure;
}
.submit {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}
.btn {
  background-color: #151823;
  color: antiquewhite;
  animation: textColor 10s ease infinite;
  outline: none;
}
.btn:focus,
.btn:active {
  outline: none !important;
  box-shadow: none !important;
}
.container .img {
  width: 20px;
  height: 20px;
}
.bo {
  height: 35vh;
  line-height: 4.3vh;
}

/*media link*/

.pos3 {
  position: fixed;
  bottom: -5%;
  right: 5px;
  z-index: 1;
}

.social-networks {
  margin: 0 0 35px;
  padding: 0;
  font-size: 0;
  text-align: center;
}
.social-networks li {
  display: block;
}
.social-networks a {
  display: block;
  position: relative;
  margin: 0 7px;
  width: 68px;
  height: 68px;
  font-size: 0;
  line-height: 0;
  text-align: center;
  text-decoration: none;
}
.social-networks a:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  margin-top: -50%;
  margin-left: -50%;
  border-radius: 100px;
  background-color: #1f2027;
  -webkit-transition: all 400ms;
  transition: all 400ms;
}
.social-networks a:after {
  position: relative;
  display: block;
  font-family: "icomoon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  color: #fff;
  font-size: 26px;
  line-height: 66px;
}
.social-networks a:hover,
.social-networks a:focus {
  text-decoration: none;
}
.social-networks.spin-icon a:hover:after,
.social-networks.spin-icon a:focus:after {
  -webkit-transition: -webkit-transform 0.4s ease-out;
  transition: -webkit-transform 0.4s ease-out;
  transition: transform 0.4s ease-out;
  transition: transform 0.4s ease-out, -webkit-transform 0.4s ease-out;
  -webkit-transform: rotateZ(360deg);
  transform: rotateZ(360deg);
}
.social-networks.square a:hover:before,
.social-networks.square a:focus:before {
  border-radius: 0;
}
.social-networks .icon-linkedin:after {
  content: "";
}
.social-networks .icon-linkedin:hover:before,
.social-networks .icon-linkedin:focus:before {
  background: #0077b5;
}
.social-networks .icon-facebook:after {
  content: "";
}
.social-networks .icon-facebook:hover:before,
.social-networks .icon-facebook:focus:before {
  background: #3b5998;
}
.social-networks .icon-twitter:after {
  content: "";
}
.social-networks .icon-twitter:hover:before,
.social-networks .icon-twitter:focus:before {
  background: #00b0ed;
}

/* Add responsiveness - on screens less than 580px wide, display the navbar vertically instead of horizontally */
@media only screen and (max-width: 580px) {
  #navbar {
    padding: 20px 10px !important; /* Use !important to make sure that JavaScript doesn't override the padding on small screens */
  }
  #navbar #logo {
    font-size: 20px;
    font-weight: bold;
  }
  #navbar a {
    text-align: left;
  }
}
@media only screen and (max-width: 600px) {
  .pos3 {
    position: absolute;
    bottom: -25%;
    right: 50px;
    z-index: 1;
  }
}
@media only screen and (max-width: 870px) {
  .social-networks li {
    display: inline-block;
  }
  body {
    height: 110vh;
  }
}
@media only screen and (max-width: 400px) {
  .bo {
    line-height: 4.5vh;
  }
}
@keyframes animateGlow {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes textColor {
  0% {
    color: #7e0fff;
  }
  50% {
    color: #0fffc1;
  }
  100% {
    color: #7e0fff;
  }
}
